<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DoctorReg</servlet-name>
  	<display-name>DoctorReg</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DoctorReg</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DoctorReg</servlet-name>
  	<url-pattern>/DoctorReg</url-pattern>
  </servlet-mapping>
</web-app>
